.logo.card{
    background-color: #1E1E1E;
    min-height: 100vh;
    height: auto;
}

.logo .interface{
    background-image: url(images/fundohq.jpg);
    height: 40vh;
    background-position: 40% 73%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    padding: 0% 0%;
    margin: auto;
}

.desc{
    display: flex;
    height: 60vh;
    width: auto;
    margin: auto auto;
    padding: 2% 5%;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    gap: 10px;
}

.textarea{
    position: relative;
    width: 90%;
    max-width: 90%;
    height: 100%;
    background-color: transparent;
    box-sizing: border-box;
}

.video-div{
    position: relative;
    width: 90%;
    height: 100%;
    max-width: 90%;
    max-height: 100%;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    padding: 3.49cqmin 1cqmin;
}

.video-container{
    position: relative;
    width: 100%;
    max-width: fit-content;;
    background-color: #1E1E1E;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    border-radius: 25px;
    border: 0.4cqmin solid white;
    overflow: hidden;
    aspect-ratio: 16/9;
}

.video-container video{
    position: absolute;
    width: 100%;
    height: 100%;

}

.video-container.full-screen{
    max-width: initial;
    width: 100%;
    max-height: 100vh;
    align-items: center;
}

.video-container.full-screen .bi.bi-fullscreen{
    display: none;
}

.video-container:not(.full-screen) .bi.bi-fullscreen-exit{
    display: none;
}

.bi.bi-volume-up-fill,
.bi.bi-volume-down-fill,
.bi.bi-volume-mute-fill{
    display: none;
}

.video-container[data-volume-level="high"] .bi.bi-volume-up-fill{
    display: block;
}
.video-container[data-volume-level="low"] .bi.bi-volume-down-fill{
    display: block;
}
.video-container[data-volume-level="muted"] .bi.bi-volume-mute-fill{
    display: block;
}

.volume-container{
    display: flex;
    align-items: center;
}

.volume-slider{
    width: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: width 150ms ease-in-out, transform 150ms ease-in-out;
}

.volume-container:hover .volume-slider{
    width: 100px;
    transform: scaleX(1);
}

.duration-container{
    display: flex;
    align-items: center;
    gap: .25rem;
    flex-grow: 1;
}

.videos-control-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.videos-control-container::before{
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0,0,0,.95), transparent);
    width: 100%;
    aspect-ratio: 6/1;
    z-index: -1;
    pointer-events: none;
}

.video-container:hover .videos-control-container,
.video-container.paused .videos-control-container,
.video-container:focus-within .videos-control-container{
    opacity: 1;
}

.videos-control-container .controls{
    display: flex;
    gap: .5rem;
    padding: .25rem;
    align-items: center;
    color: #a8c654;
}

.videos-control-container .controls button{
    background: none;
    border: none;
    color: #a8c654;
    padding: 0;
    height: 30px;
    width: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    opacity: .85;
    transition: opacity 150ms ease-in-out;
}

.videos-control-container .controls button:hover{
    opacity: 1;
}

.video-container.paused .bi.bi-pause-fill{
    display: none;
}

.video-container:not(.paused) .bi.bi-play-fill{
    display: none;
}

.timeline-container{
    height: 7px;
    margin-inline: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.timeline{
    background-color: #1E1E1E;
    height: 3px;
    width: 100%;
    position: relative;
}

.timeline::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--preview-position)*100%);
    background-color: #c2c2c2;
    display: none;
}

.timeline::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress-position)*100%);
    background-color: #a8c654;
}

.timeline .thumb-indicator{
    --scale:0;
    position: absolute;
    transform: translateX(-50%) scale(var(--scale));
    height: 200%;
    top:-50%;
    left: calc(var(--progress-position)*100%);
    background-color: #a8c654;
    border-radius: 50%;
    transition: transform 150m ease-in-out;
    aspect-ratio: 1/1;
}


.thumb-img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.video-container.scrubbing .thumbnail-img{
    display: block;
}

.video-container.scrubbing .timeline::before,
.timeline-container:hover .timeline::before{
    display: block;
}

.video-container.scrubbing .thumb-indicator,
.timeline-container:hover .thumb-indicator{
    --scale: 1;
}

.video-container.scrubbing .timeline,
.timeline-container:hover .timeline{
    height: 100%;
}

.big-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    border: 1cqmin solid white;
    width: 15cqmin;
    height: 15cqmin;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-size: 6cqmin;
    padding-left: 1%;
    z-index: 50;
    transition: opacity 150ms ease-in-out;
}

.video-container.played .big-play-button {
    display: none;
}

.video-container:not(.played) .videos-control-container{
    display: none;
}

.video-container:not(.played) .overlayvideo{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.texto{
    position: relative;
    background-color: transparent;
    height: 60%;
    max-height: 70%;
    padding-top: 1%;
}

.texto h1{
    font-size: 3cqw;
    color: white;
} 

.texto h2{
    font-size: 1cqw;
    color: #a8c654;
}

.texto p{
    color: white;
    padding-top: 2%;
    font-size: 2.15cqmin;
    
}

.info{
    height: 40%;
    background-color: transparent;
    position: relative;
    display: flex;
}

.info .horas{
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 35%;
    height: 40%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    border: 0.4cqmin solid white;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.info i{
    font-size: 5cqmin;
    color: #a8c654;
    padding-right: 2%;
}

.info .nivel{
    position: absolute;
    bottom: 5%;
    left: 45%;
    width: 35%;
    height: 40%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    border: 0.4cqmin solid white;
    border-radius: 10px;
}

.titequant{
    font-weight: 700;
    font-size: 2cqmin;
    color: white;
}

.titulo{
    color: #a8c654;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #d5e7d7;
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: #a8c654;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: #d5e7d7;
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: #a8c654;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  

/* PARA QUEM */

.para-quem{
    height: 70vh;
    width: 100%;
    background-color: transparent;
    position: relative;
}

.container-quem{
    position: relative;
    display: flex;
    width: 100%;
    height: 70vh;
    align-items: center;
    padding: 2cqmin 0%;
}

.cards{
    width: 55%;
    height: 70vh;
    display: flex;
    align-items: center;
    padding: 2cqmin 2% 2cqmin 5%;
    gap: 5%;
}

.container-quem .card1{
    height: 90%;
    width: 65%;
    background-image: url(images/hq/hq1.png);
    background-size: cover;
    background-position: 50% 55%;
    border: 0.4cqmin solid #32645b;
    border-radius: 30px;
    filter: drop-shadow(0 0 0.4rem rgba(0,0,0,0.65))
}
.container-quem .card2{
    height: 90%;
    width: 65%;
    background-image: url(images/hq/hq2.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    border: 0.4cqmin solid #32645b;
    border-radius: 30px;
    filter: drop-shadow(0 0 0.4rem rgba(0, 0, 0, 0.65))
}
.container-quem .text-area-quem{
    height: 90%;
    width: 45%;
    padding-left: 4%;
    padding-right: 5%;
}

.text{
    padding: 2% 0%;
    text-align: end;
}

.text h1{
    font-size: 6.5cqmin;
    color: #32645b;
    font-weight:800;
}

.text p{
    margin-top: 3%;
    font-size: 2.5cqmin;
}


/* PROFESSORES */

.professores{
    padding: 1% 5% 0% 5%;
}

.professores p{
    font-size: 6cqmin;
    color: #32645b;
    font-weight: 800;
}

.fotoprofs{
    margin-top: 2%;
    width: 100%;
    height: 58vh;
    display: flex;
    justify-content: space-between;
}

.prof1{
    border-radius: 50px;
    width: 46%;
    height: 100%;
    background-color: #1E1E1E;
    position: relative;
    display: flex;
    padding: .5% .5%;
    gap: 8px;
}

.fotoprof1{
    width: 40%;
    height: 100%;
    justify-content: center;
    border-radius: 50px;
    background-image: url(images/cursosimg1.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 140%;
}

.textoprof{
    width: 60%;
    padding: 6% 1%;
}

.textoprof h1{
    color: white;
    font-size: 4.5cqmin;
    font-weight: 700;
}

.textoprof p{
    color: white;
    font-size: 2.1cqmin;
    font-weight: 400;
    margin-top: 2cqmin;
}

.prof2{
    position: relative;
    border-radius: 50px;
    width: 46%;
    height: 100%;
    background-color: #1E1E1E;
    display: flex;
    padding: .5% .5%;
    gap: 8px;
}

.fotoprof2{
    width: 40%;
    height: 100%;
    justify-content: center;
    border-radius: 50px;
    background-image: url(images/cursosimg1.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 140%;
}

/* btn agendar aula */

.agendaraula{
    width: 100%;
    height: 25vh;
    display: grid;
    grid-template-columns: 25%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.agendaraula button{
    background: none;
    border: none;
    background-color: #32645b;
    font-size: 2.3cqmin;
    color: white;
    font-weight: 700;
    height: 34%;
    border-radius: 20px;
    cursor: pointer;
}

.agendaraula button:active{
    background-color: #1E1E1E;
}