*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    background-color: white;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 2px;
    background-color: #1E1E1E;
  }

::-webkit-scrollbar-thumb{
    height: 20px;
    background-color: #a8c654;
}

.interface{
    margin: 0 auto;
    margin-left: 8vh;
    padding: 2vh 0%;
}

.flex{
    display: flex;
}

/* Header */

header{
    padding: 0px 0%;
    position: absolute;
    width: 100%;
}

header > .interface{
    display: flex;
    align-items: start;
    justify-content: start;
}

header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #a8c654;
    transform: scale(1.10);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0px 20px;
    font-size: 20px;
}

header nav.menu-desktop{
    overflow: hidden;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3vh;
}

.contatos{
    height: 32px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 8vh;
    margin: auto;
    gap: 300px;
}

.contatos img{
    width: 32px;
    height: 32px;
    filter: invert(100%) sepia(46%) saturate(2%) hue-rotate(23deg) brightness(110%) contrast(101%);
    margin: auto 10px;
}

.contatos img:hover{
    transform: scale(1.10);
    filter: invert(86%) sepia(7%) saturate(3362%) hue-rotate(25deg) brightness(93%) contrast(76%);
}

header .logo{
    width: 128px;
    height: 128px;
    padding: 0 0;
}



/* LOGO SITE */

section.logo-site{
    padding: 170px; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(images/videoplayback.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    background-color: #a8c654;
}

section.logo-site .interface{
    align-items: center;
    align-content: center;
    height: 45%;
}


section.logo-site .interface img{
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: auto auto;
}


section.logo-site .plantas .esquerda img{
    height: 30%;
    position: absolute;
    left: 0;
    bottom: 0;
}

section.logo-site .plantas .direita img{
    height: 30%;
    position: absolute;
    right: 0;
    bottom: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* SOBRE SITE */

.sobre-site > .interface{
    margin-left: 0vh;
    padding: 0;
}

.sobre-site{
    height: 100vh;
    width: 100%;
    padding: 0% 0%;
    position: relative;
    overflow: hidden;
}

.sobre-site > img{
    width: 700px;
    position: absolute;
    height: fit-content;
    bottom: -25vh;
    float: right;
    right: -15vh;
    display: block;
    filter: brightness(0) saturate(100%) invert(32%) sepia(5%) saturate(3671%) hue-rotate(119deg) brightness(98%) contrast(83%) opacity(0.2);
    transform: rotate(2deg);
}

.imagemfundo > img{
    width: 600px;

}

.sobre{
    width: 100%;
    background-color: rgb(50, 100, 91, 0.25);
    height: 4em;
    padding: 0% auto;
    margin-top: 9%;
    align-content: center;
    text-align: center;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 30px;

}

.sobre .texto-sobre{
    position: relative;
    font-weight: 800;
    font-size: 38px;
    color: #32645B;
    left: -20.5vh;
    top: 9px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sobre .sobre-img{
    height: 35em;
    position: relative;
    left: -20.5vh;
    border-radius: 10% 20% / 10% 40%;
    border: 3px solid #32645B;
}

.sobre .texto-sobre p{
    position: absolute;
    width: 480px;
    font-size: 20px;
    font-weight: 500;
    text-align:start;
}

.conteudo-texto{
    background-color: #a8c654;
}


/* FOOTER */

footer{
    width: 100%;
    height: 200px;
    background-color: #1E1E1E;
    position: relative;
}

footer > img{
    width: 20%;
    position: absolute;
    top: 50%;
    left: 5vh;
    transform: translate(0,-50%);
}

footer > span{
    color: white;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.contatos-footer{
    position: absolute;
    top:50%;
    transform: translate(0, -50%);
    right: 8vh;
    margin: auto auto;
}

.contatos-footer img{
    width: 32px;
    height: 32px;
    filter: invert(100%) sepia(46%) saturate(2%) hue-rotate(23deg) brightness(110%) contrast(101%);
    margin: auto 10px;
}

.contatos-footer img:hover{
    transform: scale(1.10);
    filter: invert(86%) sepia(7%) saturate(3362%) hue-rotate(25deg) brightness(93%) contrast(76%);
}
